.body {
  background-color: red;
  width: 100%;
  height: 100%;
}

.leftBox {
  position: absolute;
  left: 2%;
  width: 50%;
  height: 100%;

  font-family: Arial, sans-serif;

  background-color: rgb(172, 159, 159);
}

/* .logoArea {
  background-color: rgb(255, 255, 255);
  height: 17%;
} */

.logoImg {
  position: absolute;
  width: clamp(5rem, 4vw, 10rem);
  top: 36px;
  left: 60px;
}

.logoHeader {
  position: absolute;
  top: 45px;
  left: 160px;

  font-size: clamp(1rem, 1.2vw, 1.4rem);

  color: #6d6d6d;
}

.pageHeader {
  position: absolute;
  top: 70px;
  left: 200px;

  font-weight: 800;
  font-size: clamp(1rem, 4vw, 6rem);

  color: black;
}

.infoHeader {
  position: absolute;
  width: 600px;
  top: 175px;
  left: 90px;

  font-size: clamp(1rem, 3.6vw, 13rem);
  font-weight: 700;
  text-align: left;

  color: #367b05;
  background-color: #c7d6be;
}

.info1 {
  position: absolute;
  width: 600px;
  top: 365px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.info2 {
  position: absolute;
  width: 600px;
  top: 445px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.info3 {
  position: absolute;
  width: 600px;
  top: 525px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.rightBox {
  position: absolute;
  right: 2%;
  width: 50%;
  height: 100%;

  font-family: Arial, sans-serif;
}

.results {
  position: absolute;
  top: 25px;
  right: 260px;

  font-size: clamp(1rem, 1.2vw, 1.4rem);
}
