.body {
  width: 100%;
  height: 100%;
}

.topBox {
  position: absolute;
  width: 100%;
  height: 60%;

  text-align: center;
  font-family: Arial, sans-serif;

  background-color: white;
}

.logoImg {
  position: absolute;
  width: clamp(3rem, 6.2vw, 8rem);
  top: 30px;
  left: 40px;
}

.logoHeader {
  position: absolute;
  top: 45px;
  left: 165px;

  color: #6d6d6d;

  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.pageHeader {
  font-weight: 800;
  font-size: clamp(1rem, 3.4vw, 4rem);

  color: black;
}

.info1 {
  width: clamp(4rem, 39vw, 50rem);
  display: inline-block;

  /* background-color: #bdf59c; */
  font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.bottomBox {
  position: absolute;
  padding-top: 40px;
  top: 400px;
  width: 100%;
  height: 100%;

  background-color: #c7d6be;

  text-align: center;
  font-family: Arial, sans-serif;
}

@media only screen and (max-width: 1032px) {
  .topBox {
    position: absolute;
    width: 100%;
    height: 60%;

    padding-top: 100px;

    text-align: center;
    font-family: Arial, sans-serif;

    background-color: white;
  }

  .logoHeader {
    position: absolute;
    top: 28px;
    left: 115px;

    color: #6d6d6d;

    font-size: clamp(1rem, 1.2vw, 1.4rem);
  }

  .pageHeader {
    font-weight: 800;
    font-size: clamp(1rem, 3.4vw, 4rem);

    color: black;
  }

  .info1 {
    width: clamp(4rem, 39vw, 50rem);
    display: inline-block;

    /* background-color: #bdf59c; */
    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }

  .bottomBox {
    position: absolute;
    padding-top: 40px;
    top: 400px;
    width: 100%;
    height: 70%;

    background-color: #c7d6be;

    text-align: center;
    font-family: Arial, sans-serif;
  }
}


@media only screen and (max-width: 632px) {
  .topBox {
    position: absolute;
    width: 100%;
    height: 60%;

    padding-top: 100px;

    text-align: center;
    font-family: Arial, sans-serif;

    background-color: white;
  }

  .logoHeader {
    position: absolute;
    top: 28px;
    left: 115px;

    color: #6d6d6d;

    font-size: clamp(1rem, 1.2vw, 1.4rem);
  }

  .pageHeader {
    font-weight: 800;
    font-size: clamp(1rem, 3.4vw, 4rem);

    color: black;
  }

  .info1 {
    width: clamp(4rem, 39vw, 50rem);
    display: inline-block;

    /* background-color: #bdf59c; */
    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }

  .bottomBox {
    position: absolute;
    padding-top: 40px;
    top: 400px;
    width: 144%;
    height: 70%;

    background-color: #c7d6be;

    text-align: center;
    font-family: Arial, sans-serif;
  }
}
