.body {
  width: 100%;
  height: 100%;
}

.topBox {
  position: absolute;
  width: 100%;
  height: 60%;

  text-align: center;
  font-family: Arial, sans-serif;

  background-color: white;
}

/* .logoArea {
  background-color: rgb(255, 255, 255);
  height: 17%;
} */

.logoImg {
  position: absolute;
  width: clamp(3rem, 6.2vw, 55rem);
  top: 30px;
  left: 48px;
}

.logoHeader {
  position: absolute;
  top: 45px;
  left: 160px;

  color: #6d6d6d;

  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.pageHeader {
  font-weight: 800;
  font-size: clamp(1rem, 3.4vw, 4rem);

  color: black;
}

.infoHeader {
  font-size: clamp(1rem, 3.2vw, 4rem);
  font-weight: 700;

  color: #367b05;
}

.info1 {
  width: clamp(4rem, 39vw, 50rem);
  display: inline-block;

  /* background-color: #bdf59c; */
  font-size: clamp(1rem, 1.2vw, 1.3rem);
}

.bottomBox {
  position: absolute;
  padding-top: 40px;
  top: 70%;
  width: 100%;
  height: 60%;

  background-color: #c7d6be;

  text-align: center;
  font-family: Arial, sans-serif;
}

@media only screen and (max-width: 1032px) {
}
