.leftBox {
  position: absolute;
  left: 2%;
  width: 50%;
  height: 100%;
  background-color: rgb(172, 159, 159);
}

.logoImg {
  position: absolute;
  width: clamp(5rem, 4vw, 10rem);
  top: 36px;
  left: 60px;
}

.logoHeader {
  position: absolute;
  top: 45px;
  left: 160px;

  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.pageHeader {
  position: absolute;
  top: 70px;
  left: 200px;

  font-size: clamp(1rem, 4vw, 6rem);
}

.infoHeader {
  position: absolute;
  width: 600px;
  top: 175px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 3.6vw, 13rem);
}

.info1 {
  position: absolute;
  width: 600px;
  top: 365px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.info2 {
  position: absolute;
  width: 600px;
  top: 485px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.info3 {
  position: absolute;
  width: 600px;
  top: 585px;
  left: 90px;

  text-align: left;
  background-color: #c7d6be;
  font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.rightBox {
  position: absolute;
  right: 2%;
  width: 50%;
  height: 100%;
}

.results {
  position: absolute;
  top: 25px;
  right: 260px;

  font-size: clamp(1rem, 1.2vw, 1.4rem);
}
