/* Top Container */
.topBox {
  position: absolute;
  width: 100%;
  height: 60%;

  padding-top: 70px;

  text-align: center;
  font-family: Arial, sans-serif;

  background-color: white;
}

.logoImg {
  position: absolute;
  width: clamp(3rem, 6.2vw, 8rem);
  top: 30px;
  left: 40px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.logoImg:hover {
  cursor: pointer;
}

.logoHeader {
  position: absolute;
  top: 45px;
  left: 165px;

  color: #6d6d6d;

  font-size: clamp(1rem, 1.2vw, 1.4rem);
}

.pageHeader {
  font-weight: 800;
  font-size: clamp(1rem, 3.4vw, 4rem);

  color: black;
}

.info1 {
  width: clamp(4rem, 39vw, 50rem);
  display: inline-block;

  font-size: clamp(1rem, 1.2vw, 1.3rem);
}

/* Bottom Container */
.bottomBox {
  position: absolute;
  padding-top: 40px;
  padding-bottom: 50px;
  top: 400px;
  width: 100%;

  background-color: #c7d6be;

  text-align: center;
  font-family: Arial, sans-serif;
}

.rankingText {
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
  font-weight: bold;
  color: black;
}

.linkText{
  text-decoration: underline;
  color: rgb(73, 64, 231);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.linkText:hover {
  cursor: pointer;
}

.resultsText {
  font-size: clamp(1.4rem, 1.6vw, 1.8rem);
  font-weight: bold;
  color: black;
}

/* Media Query for small width devices */
@media only screen and (max-width: 1032px) {
  .topBox {
    position: absolute;
    width: 100%;
    height: 60%;

    padding-top: 100px;

    text-align: center;
    font-family: Arial, sans-serif;

    background-color: white;
  }

  .logoHeader {
    position: absolute;
    top: 28px;
    left: 115px;

    color: #6d6d6d;

    font-size: clamp(1rem, 1.2vw, 1.4rem);
  }

  .pageHeader {
    font-weight: 800;
    font-size: clamp(1rem, 3.4vw, 4rem);

    color: black;
  }

  .info1 {
    width: clamp(4rem, 39vw, 50rem);
    display: inline-block;

    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }

  .bottomBox {
    position: absolute;
    padding-top: 40px;
    top: 400px;
    width: 100%;

    background-color: #c7d6be;

    text-align: center;
    font-family: Arial, sans-serif;
  }
}

/* Media Query for very small width devices */
@media only screen and (max-width: 632px) {
  .topBox {
    position: absolute;
    width: 100%;
    height: 60%;

    padding-top: 100px;

    text-align: center;
    font-family: Arial, sans-serif;

    background-color: white;
  }

  .logoHeader {
    position: absolute;
    top: 28px;
    left: 115px;

    color: #6d6d6d;

    font-size: clamp(1rem, 1.2vw, 1.4rem);
  }

  .pageHeader {
    font-weight: 800;
    font-size: clamp(1rem, 3.4vw, 4rem);

    color: black;
  }

  .info1 {
    width: clamp(4rem, 39vw, 50rem);
    display: inline-block;

    font-size: clamp(1rem, 1.2vw, 1.3rem);
  }

  .bottomBox {
    position: absolute;
    padding-top: 40px;
    top: 400px;
    width: 144%;

    background-color: #c7d6be;

    text-align: center;
    font-family: Arial, sans-serif;
  }
}
